set autoindent
set ignorecase
set smartcase
set visualbell
set hls
set surround


inoremap jk <esc>
noremap H _
noremap L $

noremap <C-o> :action Back<CR>
noremap <C-i> :action Forward<CR>

" Refactors
nnoremap crr :action RenameElement<CR>
nnoremap cro :action Move<CR>
nnoremap crd :action SafeDelete<CR>
nnoremap crm :action ExtractMethod<CR>
vnoremap crm :action ExtractMethod<CR>
nnoremap crv :action IntroduceVariable<CR>
vnoremap crv :action IntroduceVariable<CR>
nnoremap crf :action IntroduceField<CR>
nnoremap crp :action IntroduceParameter<CR>
nnoremap cri :action Inline<CR>
nnoremap crs :action ChangeSignature<CR>
nnoremap crc :action ReformatCode<CR>
vnoremap crc :action ReformatCode<CR>

nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>


" Explore
nnoremap gd :action GotoDeclaration<CR>
"nnoremap g[ :action GotoContainingDeclaration<CR>
nnoremap g] :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gk :action TypeHierarchy<CR>
nnoremap gj :action TypeHierarchy<CR>

nnoremap gr :action ShowUsages<CR>
"nnoremap ga :vsc ReSharper.ReSharper_GotoRelatedFiles<CR>

nnoremap ]q :action NextOccurence<CR>
nnoremap [q :action PreviousOccurence<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
"nnoremap ]E :action View.NextError<CR>
"nnoremap [E :action View.PreviousError<CR>
nnoremap ]h :action GotoNextError<CR>
nnoremap [h :action GotoPreviousError<CR>
nnoremap ]m :action MethodDown<CR>
vnoremap ]m :action MethodDown<CR>
nnoremap [m :action MethodUp<CR>
vnoremap [m :action MethodUp<CR>


nnoremap gt :action GotoClass<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gs :action GotoSymbol<CR>
nnoremap gm :action FileStructurePopup<CR>


" Tests
"nnoremap zud :action UnitTestDebugContext<CR>
"nnoremap zut :action ReSharper.ReSharper_UnitTestRunContext<CR>
"nnoremap zuT :action ReSharper.ReSharper_UnitTestRunCurrentSession<CR>
" Too dangerous nnoremap zua :vsc ReSharper.ReSharper_UnitTestRunSolution<CR>
"nnoremap zur :action UnitTestRunContext<CR>
"nnoremap zuu :action UnitTestSessionRepeatPreviousRun<CR>


" Code
nnoremap <silent> ]<Space> :set paste<CR>mmo<Esc>`m:set nopaste<CR>
nnoremap <silent> [<Space> :set paste<CR>mmO<Esc>`m:set nopaste<CR>

nnoremap Cc :action CommentByLineComment<CR>
vnoremap Cc :action CommentByLineComment<CR>
"vnoremap Cm :action CommentByBlockComment<CR>
"vnoremap Ci :action CommentByLineComment<CR>
"vnoremap Cu :action Edit.UncommentSelection<CR>
"vnoremap Cu :action Edit.UncommentSelection<CR>
